{% extends 'base.html.twig' %}

{% block title %}Clips{% endblock %}

{% block body %}
    <div class="clips-preview">
        <div class="row">
            {% for clip in clips %}
                <div class="col-sm-4">
                    <div class="card clip">
                        <img src="{{ clip.clipThumbnailSmall }}" title="{{ clip.clipName }}" class="card-img-top">
                        <h5 class="card-title"><a href="{{ path('clip_view', {'slug' : clip.clipSlug }) }}">{{ clip.clipName }}</a></h5>
                        <div class="card-body">
                            <!--<reaction-bar item="clip" item-id="{{ clip.clipId }}" user-id="{{ app.user ? app.user.userId : 'null' }}" ></reaction-bar>-->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(clips) }}
    </div>
{% endblock %}

