{% extends 'base.html.twig' %}

{% block title %}Clips{% endblock %}

{% block body %}
    {% for clip in clips %}
        <a href="{{ path('clip_view', {'slug' : clip.clipSlug}) }}"><img src="{{ clip.clipThumbnailSmall }}" title="{{ clip.clipName }}"> <br> </a>

        <a href="{{ path('clip_edit', {'slug' : clip.clipSlug}) }}">Edit</a>
        <a href="{{ path('clip_delete', {'slug' : clip.clipSlug}) }}">Delete</a>
        <br><br><br>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(clips) }}
    </div>
{% endblock %}

