<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% if app.user %}
                <a href="{{ path("security_logout") }}">Logout</a>

                {% if app.user.isSuperAdmin or app.user.isAdmin %}
                    <a href="{{ path("admin_main_index") }}">Admin Dashboard</a>
                {% endif %}

            {% else %}
                <a href="{{ path("security_login") }}">Login</a>
            {% endif %}


        </header>

        <hr>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
