{% extends 'admin/base.html.twig' %}

{% block title %}New rank{% endblock %}

{% block body %}
    <h1>New rank</h1>

    <br>

    {{ form_start(form) }}
        <div class="form-group">
            <label for="Rank name">{{ form_label(form.rankName, 'Rank name') }}</label>
            {{ form_widget(form.rankName, {'attr': {'class': 'form-control'}}) }}

            <label for="Rank score">{{ form_label(form.rankScore, 'Rank score') }}</label>
            {{ form_widget(form.rankScore, {'attr': {'class': 'form-control'}}) }}

            <label for="Rank name">{{ form_label(form.rankBadge, 'Rank name') }}</label>
            {{ form_widget(form.rankBadge, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form._token) }}

            <br>
            <button type="submit">New rank</button>
        </div>
{% endblock %}