<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Memb.tv Admin Panel - {% block title %}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/admin.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header class="admin-header">
                <ul>
                    <li><a href="{{ path('main_index') }}">Memb.tv</a></li>
                    <li><a href="{{ path('admin_user_index') }}">Users</a></li>
                    <li><a href="{{ path('admin_setting_index') }}">Settings</a></li>
                    <li><a href="{{ path('admin_setting_category_index') }}">Setting Categories</a></li>
                    <li><a href="{{ path('admin_game_index') }}">Games</a></li>
                    <li><a href="{{ path('admin_news_index') }}">News</a></li>
                    <li><a href="{{ path('admin_clip_index') }}">Clips</a></li>
                    <li><a href="{{ path('admin_rank_index') }}">Ranks</a></li>
                    <li><a href="{{ path('admin_rank_action_index') }}">Rank actions</a></li>
                    <li><a href="{{ path('admin_reaction_type_index') }}">Reaction types</a></li>
                    <li><a href="{{ path('security_logout') }}">Logout</a> </li>
                </ul>
            </header>
        {% endblock %}

        <div class="container-fluid">
            {% for msg in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% for msg in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
