{% extends "admin/base.html.twig" %}

{% block title %}All clips{% endblock %}

{% block body %}
    <h1 class="float-left">Clips</h1>
    <a class="btn btn-primary float-right" href="{{ path('admin_clip_new') }}" role="button">Add Clip</a>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>{{ knp_pagination_sortable(clips, '#', 'clips.clip_id') }}</th>
            <th>Name</th>
            <th>Creator</th>
            <th>Vod ID</th>
            <th>{{ knp_pagination_sortable(clips, 'Duration', 'clips.clip_duration') }}</th>
            <th>{{ knp_pagination_sortable(clips, 'Created At', 'clips.clip_created_at') }}</th>
            <th>Author</th>
            <th>Thumbnail</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for clip in clips %}
            <tr>
                <td>{{ clip.clipId }}</td>
                <td><a href="{{ path('clip_view', {'slug' : clip.clipSlug}) }}" target="_blank">{{ clip.clipName }}</a></td>
                <td>{{ clip.clipCreator }}</td>
                <td>{{ clip.clipVodId }}</td>
                <td>{{ clip.clipDuration }}</td>
                <td>{{ clip.clipCreatedAt | date("d/m/Y") }}</td>
                <td><a href="{{ path("admin_user_view", {'user' : clip.author.username}) }}" >{{ clip.author.username }}</a></td>
                <td>
                    <img class="rounded" src="{{ clip.clipThumbnailSmall }}">
                </td>
                <td>
                    <a href="{{ path('admin_clip_delete', {'slug' : clip.clipSlug}) }}">
                        <span class="oi oi-x text-danger" title="Delete" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(clips) }}
    </div>
{% endblock %}