{% extends 'admin/base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>{{ knp_pagination_sortable(users, '#', 'users.user_id') }}</th>
                <th>Superior Role</th>
                <th>Activated</th>
                <th>{{ knp_pagination_sortable(users, 'Username', 'users.username') }}</th>
                <th>Rank</th>
                <th>Type</th>
                <th>Twitch ID</th>
                <th>Twitch Sub Plan</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {% if user.isActiveNow() %}
                            <span class="badge badge-success">{{ user.userId }}</span>
                        {% else %}
                            <span class="badge badge-light">{{ user.userId }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.SuperAdmin() %}
                            <span class="badge badge-info">Super Admin</span>

                        {% elseif user.admin() %}
                            <span class="badge badge-danger">Admin</span>

                        {% elseif user.mod() %}
                            <span class="badge badge-warning">Mod</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.activated == 0 %}
                            <span class="badge badge-light">Unverified</span>
                        {% endif %}
                        {% if user.activated == 1 %}
                            <span class="badge badge-success">Verified</span>
                        {% endif %}
                        {% if user.activated == 2 %}
                            <span class="badge badge-warning">Banned</span>
                        {% endif %}
                    </td>
                    <td><a href="{{ path("admin_user_view", {'user' : user.username}) }}">{{ user.username }}</a></td>

                    <td>{{ user.rank.rankName }}</td>
                    <td>{{ user.type }}</td>
                    <td>{{ user.tid }}</td>
                    <td>{{ user.profile.profileSubplan }}</td>
                    <td>{{ user.createdAt|date("m/d/Y") }}</td>
                    <td>{{ user.updatedAt|date("m/d/Y") }}</td>
                    <td>
                        <a href="{{ path("admin_user_ban", {'user' : user.username}) }}">Ban</a>
                        <a href="{{ path("admin_user_edit", {'user' : user.username}) }}">Edit</a>
                        <a href="{{ path("admin_user_delete", {'user' : user.username}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}